*{
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}
.icon{
    width: 200px;
    float: left;
    height: 70px;
}
.logo{
    color: #ff3399;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
    margin-top: 5px
}
.menu{
    width: 400px;
    float: left;
    height: 70px;
}
ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 32px;
    font-size: 16px;
}
ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

 ul li a:hover{
    color: #ff3399;
}


.search{
    width: 330px;
    float: left;
    margin-left: 270px;
}
.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid #ff3399;
    margin-top: 30px;
    color: #ff3399;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.btn{
    width: 100px;
    height: 40px;
    background: #ff3399;
    border: 2px solid #ff3399;
    margin-top: 30px;
    color: #fff;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: 0.2s ease;
    cursor: pointer;
}
.btn:hover{
    color: #000;
}

.btn:focus{
    outline: none;
}

.srch:focus{
    outline: none;
}

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #ffb3d9;
			color:#fff;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

        /* Show dropdown content on hover */
        .dropdown:hover .dropdown-content {
            display: block;
        }

        /* Style for dropdown items */
        .dropdown-content a {
            color: #ffffff;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        /* Change background color of dropdown items on hover */
        .dropdown-content a:hover {
            background-color: #f1f1f1;
        }
		
		.dropdown-content1 {
            display: none;
            position: absolute;
            background-color: #ffb3d9;
			color:#fff;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

        /* Show dropdown content on hover */
        .dropdown1:hover .dropdown-content1 {
            display: block;
        }

        /* Style for dropdown items */
        .dropdown-content1 a {
            color: #ffffff;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        /* Change background color of dropdown items on hover */
        .dropdown-content1 a:hover {
            background-color: #f1f1f1;
        }
		.container {
  display: flex;
  justify-content: center;
}

.item {
  width: 120px;
}

		.column {
  float: left;
  width: 33.33%;
  padding: 15px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
display: table;}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}
.lineD{
			font-family: Arial;
			font-size: 20px;
			color:138454;
		}
		
		.line{
			
			color:21EC96;
		}
		
		.cente {
  margin-left: auto;
  margin-right: auto;
}
.colo{
	color:#99004d;
}
.parent {
  margin: 1rem;
  padding: 1rem 1rem;
  text-align: center;
}
.child {
  display: inline-block;
  padding: 1rem 1rem;
  vertical-align: middle;
}
.pra{
	text-align: center;
  font-size:25px;
  color:#e60073;
}

